@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
}

.menu_lateral {
    background-color: #000;
    width: 220px;
    height: 100dvh;
    color: #FFF;
}

.titulo_menu {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 2rem;
}

.lista_niveis {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.lista_niveis li {
    padding: .5rem .5rem;
}

.lista_niveis li:hover {
    background-color: #ffffff33;
}

.conteudo_principal {
    padding: 2rem;
}

.titulo_da_pagina {
    font-weight: 500;
}

.nivel_frase {
    background-color: #e2e2e2;
    padding: .8rem;
    border-radius: .25rem;
    margin: 1rem 0;
}

.input_resposta {
    width: 100%;
    padding: .6rem;
    margin-bottom: 1rem;
}

.resultado_letras {
    display: flex;
    gap: 1rem;
    margin-bottom: .8rem;
}